## Databases
###Pgsql
POSTGRES_DB=app
POSTGRES_PASSWORD=!ChangeMe!
POSTGRES_USER=app
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONNECTION_STRING=Server=${POSTGRES_HOST}; Port=${POSTGRES_PORT}; Database=${POSTGRES_DB}; Username=${POSTGRES_USER}; Password=${POSTGRES_PASSWORD}

## Redis
REDIS_USER=softezza
REDIS_USER_PASSWORD=secret
REDIS_PASSWORD=secret_redis
REDIS_DATABASES=16
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USE_DATABASE=1
REDIS_CONNECTION_STRING=Server=${REDIS_HOST}; Port=${REDIS_PORT}; Database=${REDIS_USE_DATABASE}; Username=${REDIS_USER}; Password=${REDIS_USER_PASSWORD}

## App
APP_PORT=8080
APP_VERSION=0.0.1.0
ASPNETCORE_URLS=http://localhost:${APP_PORT}
APP_BASE_DOMAIN=http://localhost:${APP_PORT}
ASPNETCORE_ENVIRONMENT=Development

## MailService
MAIL_SMTP_HOST=smtp.testhost.ru
MAIL_SMTP_PORT=465
MAIL_SMTP_FROM_MAIL=test@gmail.com
MAIL_SMTP_FROM_PASS=testpass

## OAuth
OAUTH_CLIENT_ID=id
OAUTH_CLIENT_SECRET=secret
JWT_TOKEN_SECRET=your-secure-secret-key-at-least-32-chars