##Broker messages
###RabbitMq
BROKER_TYPE=RabbitMQ
BROKER_HOST=localhost

## App
APP_PORT=8082
APP_VERSION=0.0.1.0
ASPNETCORE_URLS=https://localhost:${APP_PORT}
ASPNETCORE_ENVIRONMENT=Development

## Services
USER_SERVICE_URI=https://localhost:7197

## Databases
###Pgsql
POSTGRES_DB=app_auth
POSTGRES_PASSWORD=!ChangeMe!
POSTGRES_USER=app
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONNECTION_STRING=Server=${POSTGRES_HOST}; Port=${POSTGRES_PORT}; Database=${POSTGRES_DB}; Username=${POSTGRES_USER}; Password=${POSTGRES_PASSWORD}
